@import url('https://fonts.googleapis.com/css2?family=Allura&family=League+Spartan:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Babylonica&family=League+Spartan:wght@100;300;400;500;600;700;800;900&display=swap');
/* Variables */
:root {
    --main-color: #219bac;
    --sec-color: #E3E6F3;
}
/* Start Global Rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.6vw;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, var(--main-color),var(--main-color));
    border-radius: 6px;
    height: 10vw;
}

html::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #027887, #0e8b9b);
}

html::-webkit-scrollbar-track {
    border-radius: 6px;
}
h1 {
    font-size: 55px;
    line-height: 64px;
    color: #222;
}
h2 {
    font-size: 50px;
    line-height: 54px;
    color: #222;
}
h4 {
    font-size: 23px;
    color: #222;
}
h6 {
    font-weight: 700;
    font-size: 15px;
}
p {
    line-height: 1.7;
    color: #626966;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    font-family: 'Allura', cursive;
    font-family: 'League Spartan', sans-serif;
    width: 100%;
    user-select: none;
}
@media(max-width: 991px) {
    h2{
        font-size: 45px;
    }
}
@media(max-width: 768px) {
    h2{
        font-size: 40px;
    }
}
@media(max-width: 540px) {
    h2{
        font-size: 35px;
    }
}
/* End Global Rules */
/* Start Component */
.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}
h2.title {
    font-family: 'Allura', cursive;
}
button.main-button {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #fff;
    color: var(--main-color);
    border: none;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
button.main-button a{
    color: var(--main-color);
    transition: 0.5s;
}
button.main-button::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: 0.5s;
}
button.main-button:hover a {
    color: #fff;
}
button.main-button:hover::after {
    left: 0;
    width: 100%;
}
.sec-button {
    padding: 10px 18px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #fff;
    margin-top: 10px;
    transition: 0.5s;
}
.sec-button:hover {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}
.hide {
    display: none !important;
}
.blur-effect {
    filter: blur(4px);
}
/* End Component */
/* Home Page */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 80px;
    background-color: var(--sec-color);
    box-shadow: 0 5px 15px rgba(0, 0,0,0.08);
    z-index: 9999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
#navbar li {
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    font-size: 17px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s;
}
#navbar li:last-child a {
    font-size: 18px;
}
#navbar li a:hover, 
#navbar li a.active {
    color: var(--main-color);
}
#navbar li a.active::after,
.mobile a.active::after,
#navbar li:not(:last-child) a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    width: 0px;
    height: 3px;
    background-color: var(--main-color);
    border-radius: 6px;
    transition: 0.3s;
}
#navbar li a:not(.cart)::after {
    left: 20px;
}
#navbar li a.cart.active::after,
a.cart:hover::after,
.mobile a.active::after {
    left: 0 !important;
}
#navbar li a.active::after,
#navbar li a:hover::after {
    width: 35%;
}
#navbar li a.cart.active::after,
#navbar li a.cart:hover::after,
.mobile a.active::after {
    width: 75%;
}
.mobile {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    font-size: 20px;
}
#close {
    color: #1a1a1a;
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 21px;
    display: none;
}
.pro-count {
    position: relative;
    font-size: 21px !important;
}
.pro-count::before {
    content: attr(data-count);
    position: absolute;
    background-color: var(--main-color);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 8px;
    right: -15px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
}
#landing {
    background-image: url(../Img/background/01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 59px);
    position: relative;
    z-index: 1;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#landing h4 {
    padding-bottom: 15px;
}
#landing h1 {
    color: var(--main-color);
}
#landing button {
    border: none;
    background: none;
    background-image: url(../Img/background/button.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
#landing button a {
    color: var(--main-color);
}
#Feature {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
    gap: 20px;
}
#Feature .fe-box {
    padding: 25px 0px;
    text-align: center;
    box-shadow: 20px 20px 34px rgba(0, 0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px;
}
#Feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#Feature .fe-box h6 {
    display: inline-block;
    line-height: 1;
    padding: 9px 8px 6px 8px;
    background-color: #fddde4;
    color: var(--main-color);
    border-radius: 4px;
}
#Feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}
#Feature .fe-box:nth-child(2) h6 {
    background-color: #bdf6f9;
}
#Feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}
#Feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}
#Feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}
#Feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}
#product-1 {
    text-align: center;
}
#product-1 .pro-container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(320px,1fr));
    padding-top: 50px;
    gap: 25px;
}
#product-1 .pro {
    border: 1px solid #bde6ea;
    padding: 10px 12px;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0,0,0.02);
    margin: 15px 0;
    transition: 0.3s;
}
#product-1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0,0,0.06);
}
#product-1 .pro img {
    width: 100%;
    border-radius: 20px;
}
#product-1 .pro .des {
    text-align: start;
    padding: 10px 0;
}
#product-1 .pro .des span {
    color: #606063;
}
#product-1 .pro .des h5 {
    color: #1a1a1a;
    font-size: 18px;
    padding-top: 7px;
    transition: 0.2s;
}
#product-1 .pro:hover .des h5 {
    color: var(--main-color) !important;
}
#product-1 .des .stars i {
    font-size: 12px;
    color: rgba(243, 181,25);
    margin: 7px 0;
}
#product-1 .des .price {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#product-1 .des h4 {
    font-weight: 700;
    color: var(--main-color);
}
#product-1 .des .price a {
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-align: center;
    border-radius: 50%;
    background-color: #d9f3f700;
    color: var(--main-color);
    position: relative;
}
#product-1 .des .price a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-align: center;
    border-radius: 50%;
    background-color: #d9f3f7;
    color: var(--main-color);
    border: 1px solid #abd2d5;
    z-index: -1;
}
#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../Img/background/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 60% left 20%;
    padding: 30px 0;
    height: 40vh;
    position: relative;
    z-index: 1;
}
#sm-banner .banner-box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #20232f94;
    z-index: -1;
}
#banner h4 {
    color: #fff;
}
#banner h2 {
    color: #fff;
    padding: 10px 0;
    font-size: 30px;
}
#banner h2 span {
    color: #ff9b20;
    font-size: 35px;
    font-family: 'Allura', cursive;
}
#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(../Img/background/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    position: relative;
    z-index: 1;
}
#sm-banner .banner1 .banner-box {
    height: 50vh;
}
#sm-banner .banner2 .banner-box {
    height: 30vh;
}
#sm-banner .banner1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
#sm-banner .banner2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}
#sm-banner .banner1 .banner-box:nth-child(2) {
    background-image: url(../Img/background/b10.jpg);
}
#sm-banner .banner2 .banner-box:nth-child(1) {
    background-image: url(../Img/background/b16.jpg);
    background-position: top 10% right 0;
}
#sm-banner .banner2 .banner-box:nth-child(2) {
    background-image: url(../Img/background/07.jpg);
}
#sm-banner .banner2 .banner-box:nth-child(3) {
    background-image: url(../Img/background/banner3.jpeg);
}
#sm-banner .banner-box::after {
    background-color: #29292942;
}
#sm-banner .banner-box h4 {
    color: #fff;
    font-size: 23px;
    font-weight: 300;
}
#sm-banner .banner-box h2 {
    color: #fff;
    margin: 5px 0;
    font-size: 33px;
    font-weight: 700;
}
#sm-banner .banner-box span {
    color: #fff;
    padding-bottom: 7px;
}
#sm-banner .banner-box:hover .sec-button {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}
#sm-banner .banner2 h2 {
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
}
#sm-banner .banner2 h3 {
    font-weight: 800;
    color: #d3420e;
    font-size: 17px;
}
#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    background-image: url("../Img/background/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
#newsletter p {
    color: #818ea0;
}
#newsletter p span {
    color: #ffbd27;
    font-size: 18px;
}
#newsletter form {
    display: flex;
    width: 400px;
}
#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    outline: none;
}
#newsletter button {
    background-color: var(--main-color);
    color: #fff;
    white-space: nowrap;
    border-radius: 0 4px 4px 0;
    padding: 0 30px;
    height: 3.125rem;
}
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}
footer .col .logo {
    margin-bottom: 30px;
}
footer h4 {
    font-size: 17px;
    padding-bottom: 20px;
}
footer p {
    font-size: 16px;
    margin-bottom: 8px;
}
footer a {
    font-size: 15px;
    margin-bottom: 15px;
    color: rgba(34, 34, 34, 0.729);
}
footer .follow {
    margin-top: 20px;
}
footer .follow .icons {
    display: flex;
}
footer .follow .icons li {
    margin-right: 6px;
    background-color: #cdd4f8;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    text-align: center;
    line-height: 35px;
    font-size: 17px;
    color: #222;
    transition: 0.4s;
    cursor: pointer;
    overflow: hidden;
}
footer .follow .icons li i {
    line-height: 35px;
    transition: 0.3s;
}
footer .follow .icons li:hover i {
    animation: bottomtotop 0.5s forwards;
}
@keyframes bottomtotop {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(50%);
    }
    51%{
        opacity: 1;
    }
}
footer .install .row img {
    border: 2px solid var(--main-color);
    border-radius: 4px;
}
footer .install img {
    margin: 15px 0;
}
.copyright p {
    text-align: center;
    margin-bottom: 20px;
}
/* Shop Page */
#page-header {
    background-image: url("../Img/background/b2.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#page-header h2 {
    color: #fff;
    margin-bottom: 10px;
}
#page-header p {
    color: rgba(255, 255, 255, 0.851);
}
#pagination {
    text-align: center;
}
#pagination a {
    color: #fff;
    background-color: var(--main-color);
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: 600;
}
#pagination a i {
    font-size: 16px;
    font-weight: 600;
}
/* Single Product */
#proditails {
    display: flex;
    margin-top: 20px;
}
#proditails .pro-image {
    border: 1px solid var(--main-color);
    padding: 10px 10px 10px;
    border-radius: 6px;
    width: 400px;
    margin-right: 80px;
    height: fit-content;
}
#proditails .pro-image > img ,
#proditails .pro-image .small-images > img {
    width: 100%;
}
#proditails .pro-image .small-images {
    width: 100%;
    display: flex;
    gap: 10px;
}
#proditails .pro-image .small-images > img {
        width: calc((100% / 4) - 7.5px);
    cursor: pointer;
}
#proditails .pro-details {
    width: 52%;
    padding-top: 35px;
}
#proditails .pro-details h6 {
    color: #727478;
    font-size: 17px;
}
#proditails .pro-details h6 span {
    color: var(--main-color);
}
#proditails .pro-details h4 {
    padding: 30px 0 20px 0;
}
#proditails .pro-details h2 {
    font-size: 26px;
}
#proditails .pro-details select {
    display: block;
    margin-bottom: 14px;
    padding: 5px 10px;
}
#proditails .pro-details input {
    width: 48px;
    height: 46px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: none;
    border: 1px solid #ccc;
}
#proditails .pro-details input:focus {
    outline: none;
}
#proditails .pro-details button.sec-button {
    background-color: var(--main-color);
    border-color: var(--main-color);
    transition: 0.4s;
}
#proditails .pro-details button.sec-button:hover {
    background-color: #017787;
}
#proditails .pro-details span {
    line-height: 1.7;
    color: #6a6c6f;
}
/* Blog Page */
#page-header.blog-header {
    background-image: url("../Img/background/b3.jpg");
}
#blog {
    margin-bottom: 0;
}
#blog .blog-box {
    display: flex;
    align-items: center;
    gap: 60px;
    position: relative;
    padding: 80px 0 0;
}
#blog .blog-box .blog-img {
    min-width: 300px;
    max-width: 450px;
}
#blog .blog-box .blog-img img {
    width: 100%;
    border-radius: 4px;
}
#blog .blog-box .blog-details {
    text-align: justify;
    width: 580px;
}
#blog .blog-box .blog-details h3 {
    letter-spacing: 1px;
    font-size: 23px;
}
#blog .blog-box .blog-details p {
    margin: 10px 0;

}
#blog .blog-box .blog-details .more {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 20px;
}
#blog .blog-details .more a {
    color: #1a1a1a;
    font-weight: 500;
    transition: 0.3s;
}
#blog .blog-details .more a:last-child {
    margin-top: 6px;
}
#blog .blog-details .more:hover a:last-child {
    animation: animate-3 0.6s infinite linear;
}
@keyframes animate-3 {
    100% {
        transform: translateX(10px);
    }
}
#blog .blog-details:hover .more a {
    color: var(--main-color);
}
#blog .blog-box .blog-title {
    position: absolute;
    top: 44px;
    left: 0;
    z-index: -1;
    color: #cdcdcdad;
    font-size: 80px;
    letter-spacing: 1.6px;
}
/* About Us Page*/
#page-header.about-header {
    background-image: url("../Img/about/banner.png");
}
#about {
    display: flex;
    align-items: center;
    gap: 40px;
}
#about img {
    width: 48%;
    height: auto;
    border-radius: 8px;
}
#about .about-info h2 {
    text-transform: capitalize;
}
#about .about-info p {
    text-align: justify;
    padding: 20px 0;
}
.about-info marquee {
    background-color: #ebeeff;
    color: #1a1a1a;
    margin-top: 30px;
}
#about-video {
    text-align: center;
    margin-top: 40px;
}
#about-video h2 a {
    text-decoration: underline;
    color: var(--main-color);
}
#about-video .video {
    width: 800px;
    height: auto;
    margin: 35px auto;
    border-radius: 55px;
}
#about-video .video video{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
/* Contact Us Page */
#page-header.contact-header {
    background-image: url("../Img/background/banner1.jpg");
    position: relative;
    z-index: 1;
}
#page-header.contact-header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #85648d87;
    z-index: -1;
}
.contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-details .details {
    width: 44%;
}
.contact-details .details span,
.form-details form span{
    color: #606063;
    text-transform: uppercase;
    font-size: 19px;
}
.contact-details .details h2,
.form-details h3{
    font-size: 30px;
    line-height: 1;
    margin: 13px 0 20px 0;
}
.contact-details .details ul.icons li {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
}
.contact-details .map {
    width: 53%;
    height:400px; 
}
.contact-details .map iframe {
    width: 100%;
    height: 100%; 
}
.form-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e1e1e1;
    padding: 80px;
    margin: 50px;
}
.form-details form {
    width: 65%;
}
.form-details form input,
.form-details form textarea {
    width: 100%;
    display: block;
    outline: none;
    border: 1px solid rgb(181, 181, 181);
    padding: 15px 10px;
    margin-bottom: 15px;
}
.form-details form button.sec-button {
    background-color: var(--main-color);
    border: none;
    padding: 15px 38px;
}
.form-details .pepole .person {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
}
.form-details .pepole .person img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.form-details .pepole .person p {
    line-height: 1.5;
}
.form-details .pepole .person p span {
    display: block;
    color: #1a1a1a;
    font-weight: bold;
    font-size: 18px;
}
/* Cart Page */
.pro-cart {
    overflow-x: auto;
}
.pro-cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
.pro-cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
.pro-cart table thead td {
    padding: 18px 0;
    font-weight: 600;
    text-transform: uppercase;
    min-width: 150px;
}
.pro-cart table tbody tr td {
    padding: 15px 0 0;
    color: #6a6a6a;
    
}
.pro-cart table img {
    width: 70px;
}
.pro-cart table .delete {
    color: #7a00d0;
    font-size: 18px;
}
.pro-cart table td{
    width: 140px;
    text-align: center;
}
.pro-cart table tbody td i {
    color: #219bac;
    font-size: 19px;
    cursor: pointer;
}
.pro-cart table td input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}
.cart-add button.sec-button {
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 12px 20px;
    border: 1px solid var(--main-color);
}
.cart-add button.sec-button:hover {
    background-color: #017787;
}
.cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cart-add .coupon {
    width: 50%;
    margin-bottom: 30px;
}
.cart-add .coupon h3,
.cart-add .subtotal h3 {
    margin-bottom: 15px;
}
.cart-add .coupon input {
    padding: 12px 20px;
    outline: none;
    width: 65%;
    margin-right: 10px;
    border: 1px solid #d8dfd7;
}
.cart-add .subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
.subtotal table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
}
/* Coupon */
.discount-popup {
    width: 650px;
    background: var(--sec-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    text-align: center;
    padding: 50px 30px;
    z-index: 100000;
    border: 1px solid #d5beff;
}
.discount-popup h4:first-of-type {
    font-size: 16px;
    font-weight: normal;
    color: var(--main-color);
    text-transform: uppercase;
}
.discount-popup h4:last-of-type, .discount-popup p {
    color: rgba(34, 34, 34, 0.793);
    font-size: 17px;
}
.discount-popup .email {
    margin-top: 15px;
}
.discount-popup .email input {
    padding: 15px;
    width: 300px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.discount-popup .email .btn-discount {
    background-color: var(--main-color);
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 15px;
    margin-left: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.discount-popup .email a:last-child  {
    display: block;
    margin: 15px 0;
    text-decoration: underline;
    color: purple;
}
.discount-popup h1 {
    font-size: 100px;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 4px;
}
.discount-popup .close {
    position: absolute;
    top: 13px;
    right: 13px;
    font-size: 20px;
    cursor: pointer;
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}
.coupon-popup {
    background-color: var(--sec-color);
    padding: 30px;
    width: 450px;
    text-align: center;
    color: #222;
    border: 1px solid #d5beff;
}
.coupon-popup h3 {
    margin-bottom: 20px;
    color: var(--main-color);
    font-size: 23px;
}
.coupon-popup p {
    color: #222;
    font-size: 22px;
}
/* . {
    background: var(--main-color);
    color: #fff;
    border: none;
    margin-top: 25px;
} */
.coupon-btn{
    padding: 10px 0;
    width: 90px;
    border-radius: 6px;
    text-align: center;
    margin: 25px 0 0 0;
    cursor: pointer;
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: 0.4s;
}
.coupon-btn:hover {
    background-color: var(--main-color);
    color: #fff;
}
/* Media Quiry */
@media(max-width: 1220px) {
    .form-details form {
        width: 100%;
    }
    .form-details .pepole {
        display: none;
    }
}
@media(max-width: 991px) {
    #sm-banner {
        display: grid;
        grid-template-columns: 1fr 0.8fr;
        gap: 20px;
    }
    #sm-banner .banner1 .banner-box {
        height: 40vh;
    }
    #sm-banner .banner2 .banner-box {
        height: 25.7vh;
    }
    #sm-banner .banner-box h2,#sm-banner .banner-box h3 {
        font-size: 17px;
        white-space: nowrap;
    }
    #sm-banner .banner-box h4,#sm-banner .banner-box span {
        font-size: 15px;
        white-space: nowrap;
    }
    #sm-banner .banner-box button {
        font-size: 14px;
        padding: 8px 12px;
    }
    #sm-banner .banner1,#sm-banner .banner2 {
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    #blog .blog-box {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
    #blog .blog-box .blog-details {
        width: fit-content;
    }
    #proditails .pro-image {
        min-width: 310px;
        max-width: 330px;
        margin-right: 40px;
    }
    #proditails .pro-details {
        padding-top: 0;
    }
    #proditails .pro-details h4 {
        padding: 10px 0;
    }
    #proditails .pro-details span {
        line-height: 1.5;
    }
    #about img{
        display: none;
    }
    #about-video .video{
        width: 75%;
    }
    .contact-details {
        flex-wrap: wrap;
    }
    .contact-details .details{
        width: 100%;
    }
    .cart-add {
        flex-direction: column;
    }
    .cart-add .subtotal,.cart-add .coupon {
        width: 100%;
    }
    .cart-add button.sec-button {
        padding: 10px 15px;
        font-size: 25px;
    }
    .contact-details .map {
        width: 100%;
        margin-top: 15px;
    }
}
@media(max-width: 786px) {
    #navbar {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100%;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 65px 0 0 10px;
        z-index: 99999;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    .lg-bag {
        display: none;
    }
    #close {
        display: block;
    } 
    .mobile {
        display: flex;
    }
    .mobile a, .mobile i {
        color: #1a1a1a;
        cursor: pointer;
    }
    .mobile a.active i{
        color: var(--main-color) !important;
    }
    .mobile i#bar {
        margin-left: 10px;
    }
    #landing h1 {
        font-size: 48px;
        line-height: 12px;
    }
    #landing h2 {
        font-size: 42px;
    }
    #banner h4 {
        font-size: 19px;
    }
    #banner h2 {
        font-size: 24px;
    }
    #banner button {
        padding: 12px 18px;
        font-size: 16px;
    }
    #sm-banner {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    #proditails {
        flex-direction: column;
    }
    #proditails .pro-details {
        padding-top: 25px;
        width: 100%;
    }
    #proditails .pro-details h4 {
        padding: 10px 0;
    }
    #proditails .pro-details h4 {
        margin-top: 20px;
    }
    #proditails .pro-details span {
        line-height: 1.7;
    }
    #proditails .pro-image {
    width: 370px;
    }
    .cart-add .coupon input {
        font-size: 13px;
    }
}
@media(max-width: 540px) {
    #landing h1 {
        font-size: 45px;
        line-height: 10px;
    }
    #landing h2 {
        font-size: 40px;
    }
    #landing button {
        font-size: 15px;
    }
    header, #landing {
        padding-left: 40px;
        padding-right: 40px;
    }
    .section-p1 {
        padding: 30px 40px;
    }
    #newslatter {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}
#navbar.open {
    right: 0;
}
